<h1><%= @destination.id ? 'Edit' : 'Create' %></h1>
<hr />
<%= form_for [@list, @destination] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  <br />
  
  <%= f.submit %>
<% end %>
