<h1><%= @list.title %> - <%= @destination.title %></h1>
<%= link_to 'Edit', edit_list_destination_path([@list, @destination]) %>
<br/>
<%= link_to 'Delete', [@list, @destination], method: :delete %>
<br />
<%= link_to 'Back to destinations', list_destination_path(@list) %>
