<h1><%= @activty_id? 'Activity' : 'Create activty' %></h1>
<hr />
<%= form_for [@list, @activity] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true, autofocus: true %>
  <%= f.submit %>
<% end %>


