<h1><%= @list.title %> - <%= @activity.title %></h1>
<%= link_to 'Edit', edit_list_activity_path([@list, @activity]) %>
<br/>
<%= link_to 'Delete', [@list, @activity], method: :delete %>
<br />
<%= link_to 'Back To activities', list_activities_path(@list) %>
